*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: hwb(106 0% 7%);
color: #af2457;
}
body{
	background-color: #1d6ca1af;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#6d4352; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #7c3c54;
}
.navbar-brand{
font-size: 30px;	
}
@media (min-width: 992px) {
	#myNavbar ul li {
	  display: none;
	}
  }
  @media (min-width: 768px) {
	#myNavbar ul li {
	  display: none;
	}
  }
  